<section class="mainContainer" id="numbersSection">
    <div class="imageContainer">
      <img src="assets/college.svg" alt="People studying together" />
    </div>
    <div class="contentContainer" #container>
      <div class="headlineWrapper">
        <h2>The Leading Platform for your University</h2>
        <p><b>Revolutionize Team Collaboration:</b> Join Thousands of Users in Over a Hundred Projects, Empowering Countless Students Worldwide making great projects. With applications ranging from final projects to hackathons and beyond.</p>
      </div>
      <div class="numbersWrapper">
        <div>
          <h3>1000+</h3>
          <h4>Students</h4>
        </div>
        <div>
          <h3>100+</h3>
          <h4>Projects</h4>
        </div>
        <div>
          <h3>10+</h3>
          <h4>UseCases</h4>
        </div>
      </div>
    </div>
  </section>
  