<section class="mainContainer">
    <div class="contentContainer" #container>
      <div class="headlineWrapper">
        <h1>Easy Team Building for Projects</h1>
        <p>Your solution for efficient team formation and collaboration in interdisciplinary project environments. Overcome the challenges of team building and discover a new level of efficiency and collaboration.</p>
      </div>
      <div class="buttonWrapper">
        <button mat-raised-button color="primary">Get Started Now</button>
        <a mat-button color="primary" routerLink="#numbersSection">Learn More</a>
      </div>
    </div>
    <div class="imageContainer">
      <img src="assets/login_dark.svg" alt="People help each other building a puzzle" />
    </div>
  </section>
  