<section class="mainContainer">
    <h2 class="headline">Discover TeamConnect</h2>
    <div class="gridContainer">
      <div class="imageContainer">
        <img src="assets/dashboardSC.png" alt="TeamConnect Dashboard" />
      </div>
      <div class="contentContainer" #container>
        <div class="featureWrapper">
          <div class="featureHeader">
            <mat-icon color="primary">tune</mat-icon>
            <h3>Customizable</h3>
          </div>
          <p>Tailor the platform to your specific needs with our customizable features, ensuring seamless integration and personalized workflows</p>
        </div>
        <div class="featureWrapper">
          <div class="featureHeader">
            <mat-icon color="primary">https</mat-icon>
            <h3>Secure</h3>
          </div>
          <p>Embrace a fortress of digital protection with our app's robust security features</p>
        </div>
        <div class="featureWrapper">
          <div class="featureHeader">
            <mat-icon color="primary">touch_app</mat-icon>
            <h3>Simple</h3>
          </div>
          <p>Streamline your project management with our user-friendly interface, ensuring clarity and efficiency</p>
        </div>
      </div>
    </div>
  </section>
  