<section class="mainContainer">
    <h2>Our Features</h2>
    <div class="cardContainer" #container>
      <div class="card">
        <div class="cardHeader">
          <img src="assets/create.svg" alt="Icon Create" />
          <h3>Create</h3>
        </div>
        <p>
          Create profiles with your skills, completed projects, and interests. So other users can see your talents. Then join projects and teams that match your skills and interests or create your own project.
        </p>
      </div>
      <div class="card">
        <div class="cardHeader">
          <img src="assets/manage.svg" alt="Icon Manage" />
          <h3>Manage</h3>
        </div>
        <p>
          Initiate new use cases and form teams from a diverse community of students and scholars. Manage your projects and teams with our easy-to-use platform.
        </p>
      </div>
      <div class="card">
        <div class="cardHeader">
          <img src="assets/connect.svg" alt="Icon Connect" />
          <h3>Connect</h3>
        </div>
        <p>
          Communicate easily and effectively with your team and track the progress of your projects. Connect with other users and form new teams for your projects. Filter and search for users and projects that match your interests and skills.
        </p>
      </div>
    </div>
  </section>
  