<section class="mainContainer">
    <h2>See What Our Users Have to Say</h2>
    <div class="cardContainer" #container>
      <div class="card">
        <mat-icon svgIcon="format_quote" style="color: #007DFF; font-size: 50px;"></mat-icon>
        <div class="cardContent">
          <p>
            TeamConnect revolutionized the way our university collaborates on projects. With its intuitive interface and comprehensive profile system, finding the perfect team members became effortless. Our projects are now more diverse, efficient, and successful than ever before.
          </p>
          <div class="cardFooter">
            <img src="assets/professor.jpg" alt="Jane Doe" width="100" height="100" />
            <div class="authorWrapper">
              <h4>Prof. Smith</h4>
              <p>University of Salzburg</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <mat-icon svgIcon="format_quote" style="color: #007DFF; font-size: 50px;"></mat-icon>
        <div class="cardContent">
          <p>
            As a student, TeamConnect has been an invaluable tool for me. I&apos;ve had the opportunity to showcase my skills, connect with like-minded individuals, and contribute to exciting projects across various disciplines. It&apos;s a game-changer for anyone looking to expand their horizons and make meaningful contributions.
          </p>
          <div class="cardFooter">
            <img src="assets/profileGirl.png" alt="Jane Doe" width="100" height="100" />
            <div class="authorWrapper">
              <h4>Emily</h4>
              <p>Computer Science Major</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <mat-icon svgIcon="format_quote" style="color: #007DFF; font-size: 50px;"></mat-icon>
        <div class="cardContent">
          <p>
            Organizing hackathons and group projects has never been easier thanks to TeamConnect. The platform&apos;s seamless project creation and team formation features have significantly streamlined our event planning process. Our participants now have a user-friendly platform to connect, collaborate, and create innovative solutions.
          </p>
          <div class="cardFooter">
            <img src="assets/coordinator.jpg" alt="Jane Doe" width="100" height="100" />
            <div class="authorWrapper">
              <h4>David</h4>
              <p>Event Coordinator</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  